/* ======= ======= =======  mainMenu  ======= ======= ======= */
#mainMenu {
    height: $menuItem_H+20;
    width: 62%;
    min-width: 505px;
    margin: 20px;
    padding: 10px;
    border: 2px solid purple;
    .menuItem {
        float: left;
        width: $menuItem_W;
        height: $menuItem_H;
        margin: $menuItem_mar;
        padding: $menuItem_pad;
        text-align: center;
        font-size: $default-font-size*1.5;
        color: $menuItem_txt;
        background-color: $menuItem_bg;
    }
    .menuItem:hover {
        color: $menuItem_bg;
        background-color: $menuItem_hov;
    }
}
